
djangonews/djangoapp/djangoapp/__pycache__/settings.cpython-36.pyc
djangonews/djangoapp/djangoapp/__pycache__/settings.cpython-36.pyc
djangonews/djangoapp/djangoapp/__pycache__/urls.cpython-36.pyc
*.pyc
