/*colores
rojos 
870D20 135, 13, 32 - b
5E000F 94, 0, 15 - o1
730012 115, 0, 18 - o2
992537 153, 37, 55 - c1
AA4454 170, 68, 84 - c2


negro
#202124
gris
f1f3f4


*/

body {
    background-color: #f1f3f4;
}
a{
    color:#5E000F;
    text-decoration: underline;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
}
p{
    color:#202124;
}

.container{
    margin-top: 110px;
}

.navbar{

}
.navbar-dark{
    background-color: #870D20!important;
    box-shadow: 0em 0.2em 0.8em #444;

}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, 1);
    font-size: 18px;
    text-decoration: none !important;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none !important;
}

.ads_banner_h{
    max-width: 720px !important;
    position: relative;
    margin: 0 auto;
    display: block;
}


.title{
    text-align: left !important;
    font-weight: 400;
    line-height: 1.2;
    font-size: 24px;
    margin: 0 0 8px;
}

.category {
    text-align: left !important;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
    /*margin: 0 0 8px;*/
}

.subhead p{
font-size:16px;
font-weight:400;
line-height:24px;
/*list-style-image:none;
list-style-position:outside;
list-style-type:none;*/
margin-bottom:16px;
pointer-events:none;
text-align:justify;
text-size-adjust:100%;
}

.navbar{
    background: #202124;
    color:white;
}
.cover_block {

	padding-top: 2em;
	padding-bottom: 4em;

}
.cover_block h2 {
    text-align: center !important;
    font-weight: 400;
    line-height: 1.4;
    font-size: 32px;
    margin: 1em .5em 1em;

}
.cover_news {
    margin-bottom: 1em;
    /*color: white;*/
}
.cover_news_image {
	position: relative;
    text-align: center;
    color: white;
	/*color: white;*/
}



.cover_news_head_box {
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0 , 0.5);
    padding: 1em;
}
 @media only screen and (max-width: 400px) {
    .cover_news_head_box {
        position: relative;
        top: 0;
        left: 0;
        /*transform: translate(-50%, -50%);
        background: rgba(0, 0, 0 , 0.5);*/
        padding: 1em;
    }
}
.cover_news_head_box .category{
    color: white;
    width: 100%;
    display: block;
    text-align: center;
    font-size: .8em;
    line-height: 1.4em;
}
.cover_news_head_box .title{
    color: white !important;

}
.cover_news .cover_news_inner{
    background: white;
    box-shadow: 0.1em 0.2em 0.8em #444;
    padding: 1.5em;
}
.cover_news_inner h2{
    text-align: center !important;
}



.cover_news_data {
}
.cover_news_data .subhead{
	text-align: justify;
    padding: 2em 4em;
}

.cover_news_b{

    padding: 0 .5em 0 .5em;
}
.cover_news_b_inner{
    background: white;
    box-shadow: 0.1em 0.2em 0.8em #444;
    padding: 1em;
}

.cover_news_b .cover_news_data {
	text-align: justify;
	padding: .5em 1em .5em 1em;
}
.cover_news_b .cover_news_data .category{
    
    width: 100%;
    display: block;
    text-align: center;
    font-size: .8em;
    line-height: 1.4em;
}
.cover_news_b .cover_news_data .title{
	color: black !important;
}
.cover_news_b .cover_news_data .subhead{
    padding: 0;
}


.cover_news_c{

    padding: 0 .5em 0 .5em;
}
.cover_news_c_inner{
    background: white;
    box-shadow: 0.1em 0.2em 0.8em #444;
    padding: 1em;
}
.cover_news_c .cover_news_data {
    text-align: justify;
    padding: .5em 1em .5em 1em;
    min-height:  180px;
}
.cover_news_c .cover_news_data .category{
    
    width: 100%;
    display: block;
    text-align: center;
    font-size: .8em;
    line-height: 1.4em;
}
.cover_news_c .cover_news_data .title{
    color: black !important;
}


.cover_news_c .cover_news_data .subhead{
    padding: 0;
    font-size:14px;
    font-weight:400;
    line-height:18px;
    /*list-style-image:none;
    list-style-position:outside;
    list-style-type:none;*/
    margin-bottom:12px;
    pointer-events:none;
    text-align:justify;
    text-size-adjust:100%;
}




.cover_color_2 {
	background: #5E000F;
}


.cover_color_2 .cover_block h2 {
	color: white;

}


.cover_color_3 {
    background: #555555;
}


.cover_color_3 .cover_block h2 {
    color: white;

}
/*
.cover_color_2 .cover_news_data p{
	color: white !important;
}


.cover_color_2 .cover_news_b .cover_news_data .category,
.cover_color_2 .cover_news_b .cover_news_data .title, 
.cover_color_2 .cover_news_b .cover_news_data .subhead{
	color: white !important;
}*/




/*  CATEGORY LIST */

.sidebar{
    background: #fff;
    box-shadow: 0em 0.2em 0.8em #444;

}

.last-news .list li {
    list-style: none;
    padding: 0px 0px 8px 0px;

}
.last-news .list li a{
    font-size: 12px;
    line-height: 15px;
    font-weight: 500;
}
.news-list {
margin-top: 1em;
}
.news-list .cover_news_c{
    margin-bottom: 1em;
}
.news-list .cover_news_c .title{
    text-align: left !important;
    font-weight: 400;
    line-height: 20px;
    font-size: 16px;
    margin: 0 0 8px;
}




.sidebar{
    background: #fff;
    box-shadow: 0em 0.2em 0.8em #444;

}

.category .list li {
    list-style: none;
    padding: 0px 0px 5px 0px;

}
.category .list li a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}


.news-list {
margin-top: .6em;
}
.news-list .cover_news_c{
    margin-bottom: 1em;
}

.footer_ads{
    margin-top: 2em;
    margin-bottom: 0 2em;
}


/*SINGLE*/

.single_news{
    max-width: 1040px;
    margin: 0 auto !important;
    padding: 2em;
}
.single_news h2, .single_news h4, .single_news h5{
    text-align: center;
}

.single_news{
    font-size: 1.1em;
    line-height: 2em;
    text-align: left;
}

/*contacto*/

.contacto-sidebar h5{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1em;

}
/*FOOTER*/

.navbar-footer{
    background-color: #444 !important;
    border-top : 10px solid #252525;
}